<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="login-container">
        <form id="login-form">
            <input type="text" id="username" placeholder="Username" required><br><br>
            <input type="password" id="password" placeholder="Password" required><br><br>
            <button type="submit">Login</button>
        
        </form>
    </div>

    <script src="login.js"></script>
    <style>
    /* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
      box-border:15px;
}

.login-container {
    background: aqua;
  
    padding: 10rem;
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

  
}
</style>
</body>
</html>
